<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Database 의 underscore 케이스를 camel 케이스로 바꾼다. -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!-- 별칭을 지정한다. -->
<!--        <typeAlias type="kr.co.gidion.board.mapper.BoardMapper" alias="BoardMapper" />-->
        <typeAlias type="kr.co.gidion.board.dto.BoardDTO" alias="BoardDTO" />
    </typeAliases>
</configuration>