<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gidion.board.mapper.BoardMapper">
    <!-- 게시판 목록을 조회한다. -->
    <select id="selectBoardList" resultType="BoardDTO">
    /* BoardServiceImpl.selectBoardList */
        SELECT
            board_id
            , board_title
            , board_contents
            , view_count
            , regist_id
            , regist_date
            , update_id
            , update_date
            , is_deleted
        FROM
            board
        WHERE
            is_deleted = 'N'
        ORDER BY
            regist_date DESC
    </select>

    <!-- 게시글 상세내용을 조회한다. -->
    <select id="selectBoardDetail" parameterType="int"
            resultType="BoardDTO">
    /* BoardServiceImpl.selectBoardDetail */
        SELECT
            board_id
            , board_title
            , board_contents
            , view_count
            , regist_id
            , regist_date
            , update_id
            , update_date
            , is_deleted
        FROM
            board
        WHERE
            board_id = #{board_id}
            AND is_deleted = 'N'
    </select>

    <!-- 조회한 게시글의 조회수를 1 증가한다. -->
    <update id="updateViewCnt" parameterType="int">
    /* BoardServiceImpl.selectBoardDetail.updateViewCnt */
        UPDATE
            board
        SET
            view_count = view_count + 1
        WHERE
            board_id = #{board_id}
    </update>

    <!-- 글을 쓴다. -->
    <insert id="insertBoard" parameterType="BoardDTO">
    /* BoardServiceImpl.insertBoard */
        INSERT INTO board (
            board_title
            , board_contents
            , regist_id
            , regist_date
        ) VALUES (
            #{boardTitle}
            , #{boardContents}
            , #{registId}
            , NOW()
        )
    </insert>

    <!-- 글을 수정한다. -->
    <update id="updateBoard" parameterType="BoardDTO">
    /* BoardServiceImpl.updateBoard */
        UPDATE
            board
        SET
            board_title = #{boardTitle}
            , board_contents = #{boardContents}
            , update_id = #{updateId}
            , update_date = NOW()
        WHERE
            board_id = #{boardId}
    </update>

    <!-- 글을 삭제한다. -->
    <update id="deleteBoard" parameterType="int">
    /* BoardServiceImpl.deleteBoard */
        UPDATE
            board
        SET
            is_deleted = 'Y'
            , update_id = 'ADMIN'
            , update_date = NOW()
        WHERE
            board_id = #{boardId}
    </update>
</mapper>